@import "../../index.module.scss";

.authIndicator {
    background: radial-gradient(circle at center, black 0, transparent 100%);
    
    svg {
        width: 100px;
        display: block;
        margin: 40px auto 0;
    }
      
    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.circle {
            animation: dash .9s ease-in-out;
        }
    }
      
    p {
        text-align: center;
        margin: 20px 0 60px;
        font-size: 1.25em;
        animation: fadeIn 0.5s ease-in;
    }
      
    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
}
